body
{
    background-color:rgb(216, 242, 254);
    color: rgb(120, 5, 13);
    text-align: center;
    size: 30px;
    font-weight: bold;
}

td{
    border: solid  rgb(216, 242, 254);
    padding: 1px 15px;
    margin: 2px;
    background-color: rgb(135, 192, 222);
}

td.today
{
    /* background-color:darkgoldenrod; */
    /* font-weight: bolder; */
    border-color: blue;
}

 
.R{ background-color: rgb(216, 250, 226);}
.D1,.D2,.D3{ background-color: lemonchiffon;}    
.P1 { background-color: darkseagreen;}
.P2 {background-color: rgb(136, 187, 136);}

.round
{
    /* background-color: blue; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#black
{
    background-color: black;
}

#color1
{
    background-color: blueviolet;
}
#week 
{
    display: none;
}

/* /* */
 /* @media screen and (orientation: landscape) */

@media screen and (max-width: 460px)
 {
    #week {display: none;}
    #info {display: block;}
}/* */
@media screen and (max-width: 860px)
 {
    #week {display: block;}
    #info {display: none;}
}
@media screen and (max-width: 2000px)
 {
    #week {display: block;}
    #info {display: block;}
}