body
{
    background-color:rgb(216, 242, 254);
    /* color: rgb(120, 5, 13); */
    color: black;
    text-align: center;
    size: 30px;
    font-weight: bold;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom:20px ;
}

td{
    border: solid  rgb(216, 242, 254);
    padding: 1px 15px;
    margin: 2px;
    background-color: rgb(135, 192, 222);
}

td.today
{
    /* background-color:darkgoldenrod; */
    /* font-weight: bolder; */
    border-color: blue;
}

 
.R{ background-color: rgb(216, 250, 226);}
.D1,.D2,.D3{ background-color: lemonchiffon;}    
.P1 { background-color: darkseagreen;color: rgb(152, 52, 52)}
.P2 {background-color: rgb(136, 187, 136);}

.R-light{ background-color: rgb(216, 250, 226);}
.D1-light,.D2-light,.D3-light{ 
    background-color: rgb(230, 232, 178);
}    
.P1-light { background-color: rgb(216, 250, 226);}
.P2-light {background-color: rgb(216, 250, 226);}
.L1-light,.L2-light,.L3-light,.L4-light,.L5-light{
     background-color: rgb(193, 207, 241);
}    
.R-whiteColor{ background-color: white;color: green;}
.D1-whiteColor,.D2-whiteColor,.D3-whiteColor{ 
    background-color: white;
    color: orange;
}    
.P1-whiteColor { background-color: white;color:rgb(137, 180, 94);}
.P2-whiteColor {background-color: white;color:rgb(113, 172, 25)}
.L1-whiteColor,.L2-whiteColor,.L3-whiteColor,.L4-whiteColor,.L5-whiteColor{
     background-color: white;
     color: blue;
}    
.L3,.L5{color:rgb(70, 154, 54);}
.blackWhite { 
    background-color: white;
    color: black;
    border-color: black;
}
.-whiteColor{
    background-color: white;
    color: black;
     
}

.round
{
    /* background-color: blue; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#black
{
    background-color: black;
}

#color1
{
    background-color: blueviolet;
}
#color2
{
    background-color: white;
    border: 2px solid crimson;
}

#color
{
    background-color: rgb(135, 192, 222);
}

#week {display: block;}
#info {display: block;}

@media all and (max-width: 1200px) and (orientation: landscape)
 {
    #week {display: block;}
    #info {display: none;}
}

@media all and (max-width: 800px) and (orientation: landscape)
 {
    #week {display: block;size: 20px}
    #info {display: none;}
}

@media all and (orientation: portrait),(max-width: 576px)
 {
    #week {display: none;}
    #info {display: block;}
}